<div class="test-grid">
    <div class="container">
        <div class="row">
            <code class="col-1"></code>
            <code class="col-11"></code>
        </div>
        <div class="row">
            <code class="col-2"></code>
            <code class="col-10"></code>
        </div>
        <div class="row">
            <code class="col-3"></code>
            <code class="col-9"></code>
        </div>
        <div class="row">
            <code class="col-4"></code>
            <code class="col-8"></code>
        </div>
        <div class="row">
            <code class="col-5"></code>
            <code class="col-7"></code>
        </div>
        <div class="row">
            <code class="col-6"></code>
            <code class="col-6"></code>
        </div>
        <div class="row">
            <code class="col-6 col-offset-1"></code>
        </div>
    </div>
</div>
